<!doctype html>
<html lang="en">


<head>

  <!-- jQuery를 import 합니다 -->



  <style>
   .word {
      margin: 30px auto;
      width: 700px;
    }

    .hi {
      overflow: hidden;
    }

    .checkbox_center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .checkbox_center2 {

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .word2-wrapper {
     
    }

    .button1 {
      margin: 20px auto;
      padding: 10px;
      width: 700px;
      background-color: purple;
    }


    .word2 {
      margin: 10px auto;
      width: 1300px;
      padding: 10px;
      padding-left: 200px;
    }

    .word3 {
      margin: 30px auto;
      width: 100px;
    }

    .moneystyle {
      margin: 30px auto;
      width: 500px;
    }

    .image2 {
      width: 30px;
      height: 30px;
    }
  </style>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <!-- JQuery를 import 합니다 -->


  <script>

    // $(document).ready(function () {
    //     q2();
    // });


    function searching() {

      let input_choose = $('#input_search_choose').val();
      let input_search = $('#search_give').val();
      let input_number = $('#number_give').val();

      if (input_search == "") {
        alert('검색어를 입력하세요');
        $('#search_give').focus();
        return;
      }
      else if (input_number == "") {
        alert('갯수를 입력하세요');
        $('#number_give').focus();
        return;
      }
      else {
        $.ajax({
          type: "POST",
          url: "/pubmed",
          data: { search_give: input_search, number_give: input_number, choose_give: input_choose },
          success: function (response) {
            if (response['result'] == 'success') {
              alert('검색시작');
              alert(response['msg']);
              //             $(document).ready(function () {
              //   listing();
              // });


            }
            else { alert('검색실패'); }
          }
        });

      }






    }

  </script>




  <!-- JQuery를 import 합니다 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <script>

    // function q2() {

    //   $('#money').empty();
    //   $('#money2').empty();
    //   $.ajax({
    //     type: "GET",
    //     url: "https://api.manana.kr/exchange/rate.json",
    //     data: {},
    //     success: function (response) {

    //       let money_temp = response["1"]["rate"];
    //       let money_temp2 = response["2"]["rate"] * 100;
    //       let money_temp3 = money_temp2.toFixed(2);

    //       $('#money').append(money_temp);
    //       $('#money2').append(money_temp3);

    //     }
    //   });

    // }

    // $(document).ready(function () {
    //   listing();
    // });

    // function alldownload() {
    //   alert ('리스트로 저장')

    // }


    function reseting() {
      $('#accordionExample2').html('');
    }
    function makecloud() {
      // $('#accordionExample2').html('');   
      // let articleslist = '';
      $.ajax({
        type: "GET",
        url: "/makecloud",
        data: {},
        success: function (response) {
         

        }
      })

    };
    // style='zoom:2.0'
    

  </script>

  <!-- 파일 분리를 위한 코드 -->
  <!-- <link href="shop.css" rel="stylesheet"> 
      <script src="shop.js"></script> 
    -->


  <title>수정스 펍메드 분해하기</title>



</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Su jung's project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:5000/cloud">Make cloud</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">더</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            만들어 보자 !
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <div class="word2-wrapper">
    <div class="word2">

      <form class="form-inline my-4 my-lg-0">
  
        <div class="input-group-prepend">
          <label class="input-group-text form-control mr-sm-2" for="inputGroupSelect01">Search options</label>
        </div>
        <select class="custom-select form-control mr-sm-2" id="input_search_choose">
          <option selected value="0">Choose...</option>
          <option value="1">Default</option>
          <option value="2">Best match</option>
          <option value="3">Pubdate</option>
        </select>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search_give">
        <input class="form-control mr-sm-2" type="number" placeholder="number" aria-label="number" id="number_give">
  
  
  
        <!-- 버트 부분 -------------- -->
  
        <button type="button" class="btn btn-outline-secondary form-control mr-sm-2" onclick="searching()">Search</button>
        <button type="button" class="btn btn-outline-secondary form-control mr-sm-2" onclick="makecloud()">Make cloud</button>
        <button type="button" class="btn btn-outline-secondary form-control mr-sm-2" onclick="reseting()">Reset</button>
  
      </form>
  
    </div>

  </div>
  <hr>
  <div id="word_cloud">

    

  </div>
  <hr>


  <div class="container">
   
    </div>

    <!-- 묶음 -->
</body>

</html>